.delete-movie-page {
    width: 100%;
    height: 100%;
    padding: 1rem 4rem;
    box-sizing: border-box;
}

.delete-movie-page table {
    width: auto;
    height: 100%;
}

.delete-movie-page table td {
    padding: 1rem;
    box-sizing: border-box;
}

.delete-movie-page table td.del-btn {
    padding-left: 3rem;
}